body
{
  padding:0px;
  margin:0px;
  background-image:url(https://wallpapermemory.com/uploads/217/black-background-full-hd-1080p-54046.jpg);
  background-repeat:no-repeat;
  background-size:cover;
}

header
{
  margin:0px;
  padding:0px;
  height:15%;
  border-bottom:2px solid white;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
}

header h1
{
  font-style:italic;
  font-size:50px;
  color:white;
  margin:10px 0px 10px 0px;
  padding:0px;
}

header ul
{
  padding:0px;
  width:25%;
}

header ul li
{
  margin:auto;
  display:inline;
  margin-left:1%;
  list-style-type:none;
}

header ul li a
{
  color:white;
  font-size:20px;
  text-decoration:none;
}

header ul li a:hover
{
  text-decoration:underline;
  color:#65ace0;
}

aside
{
  width:25%;
  border:1px solid white;
  margin:7% 0px 0px 5%;
}

aside dt
{
  color:white;
  font-size:30px;
  text-align:center;
  margin-bottom:20px;
}

aside dl dd a
{
  color:white;
  text-decoration:none;
  font-size:20px;
  line-height:30px;
}

aside dl dd a:hover
{
  color:#65ace0;
  text-decoration:underline;
}
