<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Datahistorik 1963</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="2019.css">
  </head>
  <body>
    <header>
      <h1>
        Datahistorik
      </h1>

      <ul>
        <li><a href="../index.html">Home |</a></li>
        <li><a href="#">About us |</a></li>
        <li><a href="#"> Contact with us</a></li>
      </ul>
    </header>

      <h1>What is 5G?</h1>

  <div class="all">

    <article>

      <p>
        <span>What is 5G?!</span> 5G is next generation wireless network technology that’s expected to change the way people live and work. It will be faster and able to
        handle more connected devices than the existing 4G LTE network, improvements that will enable a wave of new kinds of tech products. 5G networks began rolling out in the United States and around the world in 2018 and are still in their early days, but experts say the potential is huge.
      </p>

    </article>

    <article>

      <p>
        <span>Why 5G?</span> Companies are racing to have the fastest or largest 5G networks. And countries are competing to be the first to deploy fully functional, nationwide 5G. That’s because the benefits of the new technology are expected to fuel transformative new technologies, not just for consumers but also for businesses, infrastructure and defense applications.
      </p>
    </article>

    <article>

      <p>
        <span>Benefits of 5G?</span>Much of the hype around 5G has to do with speed. But there are other perks, too. 5G will have greater bandwidth, meaning it can handle many more connected devices than previous networks. That means no more spotty service when you’re in a crowded area. And it will enable even more connected devices like smart toothbrushes and self-driving cars.
      </p>
    </article>


    <article>
      <p>
      5G will also reduce latency — the time it takes for a cell phone (or other connected device) to make a request from a server and get a response — to virtually zero. And it will make communication with cloud platforms (think Amazon Web Services and Microsoft Azure) faster and easier.
      </p>
    </article>

    <img src="https://edition.cnn.com/interactive/2020/03/business/what-is-5g/media/images/5G_banner_16x9-v2.jpg">

    <article>
      <p>
        <span>How does it work?</span>With 5G, signals run over new radio frequencies, which requires updating radios and other equipment on cell towers. There are three different methods for building a 5G network, depending on the type of assets a wireless carrier has: low-band network (wide coverage area but only about 20% faster than 4G), high-band network (superfast speeds but signals don’t travel well and struggle to move through hard surfaces) and mid-band network (balances speed and coverage).
      </p>
    </article>

    <article>
      <p>
        Carriers building superfast 5G networks must install tons of small cell sites — about the size of pizza boxes — to light poles, walls or towers, often in relatively small proximity to one another. For that reason, superfast networks are mostly being deployed city by city. Eventually, most US carriers will have a mix of the different network types that will enable both broad coverage and fast speeds.
      </p>
    </article>

    <article>

      <p>
        <span>Just how fast will download speeds be?</span>The fastest 5G networks are expected to be at least 10 times faster than 4G LTE, according to wireless industry trade group GSMA. Some experts say they could eventually be 100 times faster. That’s fast enough to download a two hour movie in fewer than 10 seconds, versus around 7 minutes with 4G. Actual download speeds will depend on a number of factors, including location and network traffic.
      </p>
    </article>

  </div>

  </body>
</html>
