<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Datahistorik 1963</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="wiki.css">
  </head>
  <body>
    <header>
      <h1>
        Datahistorik
      </h1>

      <ul>
        <li><a href="../index.html">Home |</a></li>
        <li><a href="#">About us |</a></li>
        <li><a href="#"> Contact with us</a></li>
      </ul>
    </header>

      <h1>Alfresco Software & Ametys CMSs</h1>

  <div class="all">

    <article>

      <p>
        <span>Alfresco</span>  is a collection of information management software products for Microsoft Windows and Unix-like operating systems developed by Alfresco Software Inc. using Java technology. Their primary software offering, branded as a Digital Business Platform is proprietary & a commercially licensed open source platform, supports open standards, and provides enterprise scale.[citation needed]
        Alfresco Software Inc. also provides open source Community Editions as free, LGPLv3 licensed open source software. These have some default restrictions in terms of scalability and availability, e.g. there is no built-in clustering support. Quality assurance by Alfresco is limited and bug fixes are only issued for the current versions. There is a community support for the Community Edition including an independent association, the Order of the Bee.
      </p>

    </article>

    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Alfresco_Share_Screenshot.png/450px-Alfresco_Share_Screenshot.png">

    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/d/d3/Ametys_CMS_logo.png/225px-Ametys_CMS_logo.png">

    <article>

      <p>
        <span>Ametys</span> is a free and open source content management system (CMS) written in Java. It is based on JSR-170 for content storage, Open Social for gadget rendering and a XML oriented framework. It is primarily designed to run large corporate websites, blogs, intranets and extranets on the same server.
        As of May 2012, Ametys claims to run more than 30 000 websites.[citation needed]
        Ametys is Java based and runs on any computing platform capable of running the Java Runtime Environment and an application server.
      </p>
    </article>


  </div>

  </body>
</html>
